
*,::after,::before{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
     font-family: sans-serif;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.main{
    width: 100vw;
    height: 100vh; 
    background-image: url('imagem/fundo.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.imgcoracao{
        width: 40%;
        display: flex;
        align-items: flex-end;
    
}
.imgcoracao img{
    width: 100%;
    
}
.participe{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.participe img{

    width: 50%; 
    max-width: 350px;

}
.containerformulario{
     width: 60%; 
     display: flex;
     justify-content: center;
     align-items: center;
    
}
.formulario{
    background-color: #ff7070;
    width: 40%;
    
    flex-direction: column;
    align-items: center;
    display: flex;
    border-radius: 30px;
    padding: 15px;
    border: solid #cb0001;
    text-align: center;

}
.formulario h4{
    margin-bottom: 15px;
    font-family: sans-serif;
    color: #9c0202;
    font-size: 1.2em;
}
.formulario input{
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: none;
    
    
}
.formulario h3{
    width: 100%;
    text-align: left;
    margin-top: 5px;
    color: #9c0202;
    
}
.formulario input[type='submit']{
    margin-top: 15px;
    padding: 15px 0px;
    font-size: 1.2em;
    width: 50%;
    background-color: #9c0202;
    color: #fda3a3;
   
}
.containerinformativo{
    width: 20%;
    background-color: #ffb7b8;
    border-radius: 20px;
    margin-right: 10px;
    padding: 5px;
  
    border: solid #ff7a79;
    
}
.informativo h3{
    font-size: 0.9em;
    color: #fd5b5b;
    text-align: center;
}








@media (max-width: 320px){
    .main{
        height: 700px;
    }
    .participe{
        margin-top: 0px;
    }
    
    .participe img{
        margin-left: 30%;
        margin-top: 30px;
        width: 60%;
    }
    
    .imgcoracao{
        width: 100%;
        display: block;
    }
    
    .imgcoracao img{
        width: 35%;
        margin-top: -22%;
        margin-left: 7%;
    }
    
    .container{
        display: block;
    }
    
    .containerformulario{
        width: 100%;
        flex-direction: column;
       
    }
    
    .formulario{
        width: 100%;
        display: block;
        font-size: 12px;
        min-width: 250px;
    }
    
    .containerinformativo{
        width: 70%;
        margin-right: 0px;
        margin-bottom: 3%;
    }
 
}



@media (max-width: 375px){
    .participe{
        margin-top: 0px;
    }
    
    .participe img{
        margin-left: 30%;
        margin-top: 30px;
        width: 60%;
    }
    
    .imgcoracao{
        width: 100%;
        display: block;
    }
    
    .imgcoracao img{
        width: 35%;
        margin-top: -22%;
        margin-left: 7%;
    }
    
    .container{
        display: block;
    }
    
    .containerformulario{
        width: 100%;
        flex-direction: column;
    }
    
    .formulario{
        width: 80%;
        display: block;
    }
    
    .containerinformativo{
        width: 64%;
        margin-right: 0px;
        margin-bottom: 3%;
    }
    
    
}

@media (max-width: 375px){
    .main{
        min-height: 850px;
    }
     .containerformulario{
        width: 100%;
        flex-direction: column;
    }
     .formulario{
        width: 80%;
        display: block;
         min-width: 250px;
    }
}

@media (max-width: 425px){
    .main{
        height: 790px;
         min-width: 450px;
    }
    .participe{
        margin-top: 0px;
    }
    
    .participe img{
        margin-left: 30%;
        margin-top: 30px;
        width: 60%;
    }
    
    .imgcoracao{
        width: 100%;
        display: block;
    }
    
    .imgcoracao img{
        width: 35%;
        margin-top: -22%;
        margin-left: 7%;
    }
    
    .container{
        display: block;
    }
    
    .containerformulario{
        width: 100%;
        flex-direction: column;
    }
    
    .formulario{
        width: 80%;
        display: block;
         min-width: 250px;
    }
    
    .containerinformativo{
        width: 64%;
        margin-right: 0px;
        margin-bottom: 3%;
    }
    
    
}

@media (max-width: 768px){
    .main{
        height: 750px;
    }
    
    .participe{
        margin-top: 0px;
    }
    
    .participe img{
        margin-left: 30%;
        margin-top: 30px;
        width: 60%;
    }
    
    .imgcoracao{
        width: 100%;
        display: block;
    }
    
    .imgcoracao img{
        width: 35%;
        margin-top: -22%;
        margin-left: 7%;
    }
    
    .container{
    
        align-items: center;
    }
    
    .containerformulario{
        width: 50%;
        flex-direction: column;
        align-items: center;
      
    }
    
    .formulario{
        width: 80%;
       margin-left: 100%;
          justify-content: center;
    }
    
    .containerinformativo{
        width: 64%;
        margin-right: 0px;
        margin-bottom: 3%;
        align-items: center;
         margin-left: 100%;
    }
    
    
}


